::: info Documentation Versions

Current version is [{{ current_version }}](/docs/{{ current_version }}/), we maintain the following versions of Gorse documentation:
{% for version in versions %}
- [{{ version }}](/docs/{{ version }}/){% endfor %}

:::
